# Assume Python 3.14
target-version = "py314"

[lint]
select = ["ALL"]
ignore = [
	"D203",		# Conflicts with D211 - https://docs.astral.sh/ruff/rules/incorrect-blank-line-before-class/
	"D206",		# Using tabs - https://docs.astral.sh/ruff/rules/docstring-tab-indentation/
	"D212",		# Conflicts with D213 - https://docs.astral.sh/ruff/rules/multi-line-summary-first-line/
	"E501",		# Makes code messy - https://docs.astral.sh/ruff/rules/line-too-long/
	"EM101",	# Convenience - https://docs.astral.sh/ruff/rules/raw-string-in-exception/
	"EM102",	# Convenience - https://docs.astral.sh/ruff/rules/f-string-in-exception/
	"ERA001",	# False positives - https://docs.astral.sh/ruff/rules/commented-out-code/
	"EXE001",	# Causes problems during CI/CD - https://docs.astral.sh/ruff/rules/shebang-not-executable/
	"EXE002",	# Causes problems during CI/CD - https://docs.astral.sh/ruff/rules/shebang-missing-executable-file/
	"FBT001",	# We use positional boolean args - https://docs.astral.sh/ruff/rules/boolean-type-hint-positional-argument/
	"INP001",	# This project is a command-line script, not a package - https://docs.astral.sh/ruff/rules/implicit-namespace-package/
	"PLR0913",	# Convenience - https://docs.astral.sh/ruff/rules/too-many-arguments/
	"SIM112",	# Same capitalizatioin of ENV variables as internal variables - https://docs.astral.sh/ruff/rules/uncapitalized-environment-variables/
	"T201",		# Command-line scripts need to communicate with the user - https://docs.astral.sh/ruff/rules/print/
	"TC001",	# Convenience, revisit later - https://docs.astral.sh/ruff/rules/typing-only-first-party-import/
	"TC002",	# Convenience, revisit later - https://docs.astral.sh/ruff/rules/typing-only-third-party-import/
	"TRY003",	# Convenience - https://docs.astral.sh/ruff/rules/raise-vanilla-args/
	"W191",		# Using tabs - https://docs.astral.sh/ruff/rules/tab-indentation/
]

[format]
indent-style = "tab"

docstring-code-format = true
